<!DOCTYPE html>
<html>
<head>
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
        rel="stylesheet"
    />
    <link
        href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
        rel="stylesheet"
    />
    <link
        href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
        rel="stylesheet"
    />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container class="fill-height">
                <v-row justify="center" align="center">
                    <v-col cols="12" sm="6" md="4" lg="4">
                        <v-card>
                            <v-card-title class="logopad">
                                <v-img
                                    src="https://cosmiclife.ru/images/logo.svg"
                                    aspect-ratio="3.7778"
                                    contain
                                />
                            </v-card-title>
                            <v-card-text>
                                <v-form @submit.prevent="passwordGrantLogin">
                                    <div v-if="errors.length" class="error--text">
                                        <b>Пожалуйста исправьте указанные ошибки:</b>
                                        <ul>
                                            <li v-for="error in errors" v-text="error"></li>
                                        </ul>
                                    </div>
                                    <v-row no-gutters
                                    >
                                        <v-col>
                                            <v-text-field
                                                v-model="user.email"
                                                prepend-icon="mdi-account"
                                                name="login"
                                                :label="authLogin"
                                                :error="invalidauth"
                                                type="text"
                                                @keyup.enter="passwordGrantLogin"
                                            />
                                        </v-col
                                        >
                                    </v-row>
                                    <v-row no-gutters
                                    >
                                        <v-col>
                                            <v-text-field
                                                id="password"
                                                v-model="user.password"
                                                :append-icon="showpass ? 'mdi-eye-off' : 'mdi-eye'"
                                                :type="showpass ? 'text' : 'password'"
                                                :error="invalidauth"
                                                prepend-icon="mdi-lock"
                                                name="password"
                                                :label="authPassword"
                                                @click:append="showpass = !showpass"
                                                @keyup.enter="passwordGrantLogin"
                                            />
                                        </v-col
                                        >
                                    </v-row>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-row no-gutters
                                >
                                    <v-col align="center">
                                        <v-btn
                                            :loading="signin"
                                            color="primary"
                                            depressed
                                            @click="passwordGrantLogin"
                                        >
                                            Вход в систему
                                        </v-btn>
                                    </v-col>
                                </v-row
                                >
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: "#app",
        vuetify: new Vuetify({icons: {iconfont: "mdi"}}),
        data: {
            authLogin: "Ваш логин",
            authPassword: "Ваш пароль",
            showpass: false,
            signin: false,
            user: {
                email: "",
                password: ""
            },
            invalidauth: false,
            errors: []
        },
        methods: {
            passwordGrantLogin() {
                this.errors = [];
                this.signin = true;
                this.invalidauth = false;

                if (!this.user.email) {
                    this.errors.push('Укажите логин.');
                    this.signin = false;
                }
                if (!this.user.password) {
                    this.errors.push('Укажите пароль.');
                    this.signin = false;
                }

                // сюда авторизацию
                data = {
                    username: this.user.email,
                    password: this.user.password,
                    next: '/admin/'
                };
                if (!this.errors.length) {
                    axios.post('/api/v1/accounts/login/', data).then(response => {
                        console.log(response.data);
                        if (response.data.status === 'ok') {
                            window.location = "/admin/"
                        } else {
                            this.errors.push(response.data);
                        }
                    }).catch(error => {
                        this.signin = false;
                        this.invalidauth = true;
                        this.errors = error.response.data;
                    });
                }
                return true;
            }
        }
    });
</script>
</body>
</html>